@media screen and (max-width: 639px) {
   .nav-collapse ul
  {
    float: right;
  }
  .nav-collapse li {
    float: right;
  }
  .nav-collapse {
    float: right;
  }
  .nav-collapse a {
    float: right;
  }
  
  .mobilemenu {
    float: right;
  }
}

.resgridfirstcell
{
  padding-left: 10px;
  padding-right: 0;
}

span.btnrange
{
  padding-right: 5px;
  padding-left: 10px;
}
th
{
  text-align: right;
}
.oppositealign
{
  text-align: left;
}
.regularalign
{
  text-align: right;
}
div.message
{
  background-position: 99% 8px;
  padding: 10px 50px 10px 10px;
}
div.message ul {
  margin: 0 0 0 1em;
}
.tabrow li {
    margin-left: 2px;
    margin-right: 0px;
}