/* line 2, ../sass/facet.scss */
button.facetapply {
  padding: 3px 12px;
  font-weight: bold;
  color: #000;
  background-color: #FFF;
  border-color: #000;
}

/* line 11, ../sass/facet.scss */
button.facetapply:hover {
  background-color: #FFF;
}

/* line 16, ../sass/facet.scss */
button.facetapply:disabled {
  color: #9E9E9F;
  border-color: #9E9E9F;
  cursor: default;
}

/* line 23, ../sass/facet.scss */
#divFacetFilter {
  padding-top: 10px;
  text-align: center;
}

/* line 29, ../sass/facet.scss */
ul.facetgrp {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  padding: 0px;
  overflow-y: auto;
  max-height: 430px;
}

/* line 42, ../sass/facet.scss */
li.facetitm {
  margin: 0px;
  padding: 10px 12px;
  text-align: center;
  background-color: #1D6218;
  color: #FFF;
  font-weight: bold;
  border-top-style: none;
  border-bottom-style: groove;
  border-left-style: none;
  border-right-style: none;
  border-width: 4px;
  border-color: #50924E;
}

/* line 58, ../sass/facet.scss */
li.lastfacet {
  border-bottom-style: none;
}

/* line 63, ../sass/facet.scss */
li.unselectedfacet {
  display: none;
  border-color: #989899;
  background-color: #7E7F7F;
  color: #DADBDC;
}

/* line 71, ../sass/facet.scss */
li.facetitm:hover {
  cursor: pointer;
}

/* line 76, ../sass/facet.scss */
.facettitle {
  padding: 0x;
  font-weight: bold;
}

/* line 82, ../sass/facet.scss */
.facetexpander {
  text-align: center;
  vertical-align: top;
  border: 1px solid #4A4B4A;
  background-color: #7E7F7F;
}

@media screen and (min-width: 640px) {
  /* line 91, ../sass/facet.scss */
  .facetexpander {
    height: 10px;
  }

  /* line 95, ../sass/facet.scss */
  .facetexpander img {
    vertical-align: top;
    height: 8px;
  }

  /* line 100, ../sass/facet.scss */
  td#tdFacet {
    width: 180px;
  }
}
@media screen and (max-width: 639px) {
  /* line 106, ../sass/facet.scss */
  .facetexpander {
    height: 20px;
  }

  /* line 110, ../sass/facet.scss */
  .facetexpander img {
    vertical-align: top;
    height: 18px;
  }

  /* line 115, ../sass/facet.scss */
  .facetmobileexpander {
    float: right;
    padding: 22px 10px;
    border-width: 0;
    border-style: none;
    outline: none;
  }

  /* line 123, ../sass/facet.scss */
  .facetmobileexpander img {
    border-width: 0;
    border-style: none;
    outline: none;
  }

  /* line 130, ../sass/facet.scss */
  .facet {
    width: 220px;
  }
}
/* line 136, ../sass/facet.scss */
.facetexpander {
  cursor: pointer;
}

/* line 141, ../sass/facet.scss */
.facetsep {
  height: 8px;
}
