/* line 1, ../sass/main.scss */
a:hover {
  background: #ffffff;
  text-decoration: none;
}

/*BG color is a must for IE6*/
/* line 4, ../sass/main.scss */
.orderbox {
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
  margin: 10px;
  padding: 0px 10px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

/* line 15, ../sass/main.scss */
a.subtlelink {
  text-decoration: none;
  color: #000000;
}

/* line 20, ../sass/main.scss */
a.subtlelink:hover {
  text-decoration: none;
  color: #000000;
}

/* line 25, ../sass/main.scss */
a.subtlelink:link {
  text-decoration: none;
  color: #000000;
}

/* line 30, ../sass/main.scss */
a.subtlelink:visited {
  text-decoration: none;
  color: #000000;
}

/* line 35, ../sass/main.scss */
a.subtlelink:active {
  text-decoration: none;
  color: #000000;
}

/* line 40, ../sass/main.scss */
a.tooltip span {
  display: none;
  white-space: normal;
  padding: 2px 3px;
  margin-left: 8px;
  width: 150px;
}

/* line 41, ../sass/main.scss */
a.tooltip:hover span {
  display: inline;
  position: absolute;
  background: #ffffff;
  border: 1px solid #cccccc;
  color: #000000;
  font-weight: normal;
}

/* line 42, ../sass/main.scss */
a.tooltip:link {
  color: #000000;
  text-decoration: none;
}

/* line 43, ../sass/main.scss */
a.tooltip:visited {
  color: #000000;
  text-decoration: none;
}

/* line 44, ../sass/main.scss */
a.tooltip:hover {
  color: #000000;
  text-decoration: none;
}

/* line 45, ../sass/main.scss */
a.tooltip:active {
  color: #000000;
  text-decoration: none;
}

/* line 46, ../sass/main.scss */
a.tooltiphelp:link {
  color: #003366;
  font-weight: bold;
  text-decoration: none;
}

/* line 47, ../sass/main.scss */
a.tooltiphelp:visited {
  color: #003366;
  font-weight: bold;
  text-decoration: none;
}

/* line 48, ../sass/main.scss */
a.tooltiphelp:hover {
  color: #003366;
  font-weight: bold;
  text-decoration: none;
}

/* line 49, ../sass/main.scss */
a.tooltiphelp:active {
  color: #003366;
  font-weight: bold;
  text-decoration: none;
}

/* line 50, ../sass/main.scss */
a.tooltiphelp span {
  display: none;
  white-space: normal;
  padding: 2px 3px;
  margin-left: 8px;
}

/* line 51, ../sass/main.scss */
a.tooltiphelp:hover span {
  display: inline;
  position: absolute;
  background: #ffffff;
  border: 1px solid #cccccc;
  color: #000000;
  font-weight: normal;
  z-index: 100;
}

/* line 52, ../sass/main.scss */
a.tooltiphelprel:link {
  color: #003366;
  font-weight: bold;
  text-decoration: none;
}

/* line 53, ../sass/main.scss */
a.tooltiphelprel:visited {
  color: #003366;
  font-weight: bold;
  text-decoration: none;
}

/* line 54, ../sass/main.scss */
a.tooltiphelprel:hover {
  color: #003366;
  font-weight: bold;
  text-decoration: none;
}

/* line 55, ../sass/main.scss */
a.tooltiphelprel:active {
  color: #003366;
  font-weight: bold;
  text-decoration: none;
}

/* line 56, ../sass/main.scss */
a.tooltiphelprel span {
  display: none;
  white-space: normal;
  padding: 2px 3px;
  margin-left: 8px;
  width: 150px;
}

/* line 57, ../sass/main.scss */
a.tooltiphelprel:hover span {
  display: inline;
  position: relative;
  background: #ffffff;
  border: 0;
  color: #000000;
  font-weight: normal;
}

/* line 58, ../sass/main.scss */
a.tooltiplink span {
  display: none;
  white-space: normal;
  padding: 2px 3px;
  margin-left: 8px;
  width: 150px;
}

/* line 59, ../sass/main.scss */
a.tooltiplink:hover span {
  display: inline;
  position: absolute;
  background: #ffffff;
  border: 1px solid #cccccc;
  color: #000000;
  font-weight: normal;
}

/* line 62, ../sass/main.scss */
body {
  font-family: Loma, Arial, "Open Sans", sans-serif;
  font-size: 12px;
}

/* line 67, ../sass/main.scss */
body.centered {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* line 74, ../sass/main.scss */
input[type='button'], input[type='submit'] {
  background-color: #F2DFC1;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em;
  padding: 4px 17px;
  border-radius: 15px;
  box-sizing: border-box;
  white-space: pre;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
}

/* line 98, ../sass/main.scss */
input[type='button']:hover, input[type='submit']:hover {
  background-color: #E0C292;
}

/* line 102, ../sass/main.scss */
input[type='button']:disabled, input[type='submit']:disabled {
  background-color: #F2DFC1;
  color: #A8A8A8;
  cursor: default;
}

/* line 108, ../sass/main.scss */
input[type='button'].order, input[type='submit']:order {
  background-color: #F4B551;
}

/* line 112, ../sass/main.scss */
input[type='button'].order:hover, input[type='submit'].order:hover {
  background-color: #FB9C03;
}

/* line 116, ../sass/main.scss */
input[type='button'].order:disabled, input[type='submit'].order:disabled {
  background-color: #F4B551;
}

/* line 121, ../sass/main.scss */
select {
  font-size: 12px;
  background-color: #FFFFFF;
  border: 1px solid #A8A8A8;
  color: #000000;
}

/* line 128, ../sass/main.scss */
span {
  font-size: 12px;
}

/* line 133, ../sass/main.scss */
ul {
  list-style: none;
}

/* line 138, ../sass/main.scss */
.displayalways {
  display: block;
}

/* line 143, ../sass/main.scss */
.usermenu {
  font-size: 18px;
  width: 100%;
}

/* line 149, ../sass/main.scss */
.coordmenu {
  font-size: 16px;
  width: 100%;
}

/* line 155, ../sass/main.scss */
.usermenucell a {
  text-decoration: none;
}

/* line 160, ../sass/main.scss */
.coordmenucell a {
  text-decoration: none;
}

/* line 164, ../sass/main.scss */
.nav-collapse ul {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  padding: 0;
  list-style: none;
}

/* line 175, ../sass/main.scss */
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

/* line 185, ../sass/main.scss */
.logo {
  white-space: nowrap;
  padding-top: 12px;
}

/* line 191, ../sass/main.scss */
.usermenu {
  color: #666666;
}

/* line 196, ../sass/main.scss */
.usermenucell {
  color: #fafafa;
  background-color: #336633;
}

/* line 202, ../sass/main.scss */
.usermenucell a:visited {
  color: #fafafa;
  background-color: #336633;
}

/* line 208, ../sass/main.scss */
.usermenucell a:active {
  color: #fafafa;
  background-color: #336633;
}

/* line 214, ../sass/main.scss */
.usermenucell a:link {
  color: #fafafa;
  background-color: #336633;
}

/* line 220, ../sass/main.scss */
.usermenucell a:hover, .usermenulink:hover {
  background-color: #fafafa;
  color: #336633;
}

/* line 226, ../sass/main.scss */
.coordmenu {
  color: #000;
}

/* line 230, ../sass/main.scss */
.coordmenucell {
  color: #000;
  background-color: #D7DBDC;
}

/* line 235, ../sass/main.scss */
.coordmenucell a {
  color: #000;
  background-color: #D7DBDC;
}

/* line 241, ../sass/main.scss */
.coordmenucell a:visited {
  color: #000;
  background-color: #D7DBDC;
}

/* line 247, ../sass/main.scss */
.coordmenucell a:active {
  color: #000;
  background-color: #D7DBDC;
}

/* line 253, ../sass/main.scss */
.coordmenucell a:link {
  color: #000;
  background-color: #D7DBDC;
}

/* line 259, ../sass/main.scss */
.coordmenucell a:hover {
  background-color: #000;
  color: #D7DBDC;
}

@media screen and (min-width: 948px) {
  /* line 266, ../sass/main.scss */
  body.centered {
    width: 100%;
    margin: auto;
  }

  /* line 271, ../sass/main.scss */
  .fullwidth {
    width: 100%;
  }
}
@media screen and (min-width: 640px) {
  /* line 277, ../sass/main.scss */
  span.cooptitle {
    font-size: 24px;
  }

  /* line 281, ../sass/main.scss */
  label {
    font-size: 12px;
  }

  /* line 285, ../sass/main.scss */
  input {
    font-size: 12px;
  }

  /* line 289, ../sass/main.scss */
  table.entrytable td {
    padding: 0;
  }

  /* line 293, ../sass/main.scss */
  .mobiledisplay {
    display: none;
  }

  /* line 297, ../sass/main.scss */
  .mobilehide {
    display: block;
  }

  /* line 302, ../sass/main.scss */
  .dataentry {
    font-size: 12px;
    width: 200px;
    background-color: #FFFFFF;
  }

  /* line 308, ../sass/main.scss */
  .dateentry {
    font-size: 12px;
    width: 110px;
    background-color: #FFFFFF;
  }

  /* line 314, ../sass/main.scss */
  .dataentrysmall {
    font-size: 12px;
    width: 120px;
    background-color: #FFFFFF;
  }

  /* line 320, ../sass/main.scss */
  .requireddata {
    font-size: 12px;
    width: 200px;
    border: 1px solid #990033;
    background-color: #FFFFFF;
  }

  /* line 327, ../sass/main.scss */
  .requireddate {
    font-size: 12px;
    width: 110px;
    border: 1px solid #990033;
    background-color: #FFFFFF;
  }

  /* line 334, ../sass/main.scss */
  .requiredselect {
    font-size: 12px;
    width: 206px;
    background-color: #FFFFFF;
    border: 1px solid #990033;
    color: #000000;
  }

  /* line 342, ../sass/main.scss */
  .requiredtime {
    font-size: 12px;
    width: 65px;
    border: 1px solid #990033;
    background-color: #FFFFFF;
  }

  /* line 349, ../sass/main.scss */
  .selectentry {
    font-size: 12px;
    width: 206px;
    background-color: #FFFFFF;
    border: 1px solid #A8A8A8;
    color: #000000;
  }

  /* line 358, ../sass/main.scss */
  .usermenucell {
    white-space: nowrap;
  }

  /* line 362, ../sass/main.scss */
  .coordmenucell {
    white-space: nowrap;
  }

  /* line 366, ../sass/main.scss */
  .js .nav-collapse {
    position: relative;
  }

  /* line 369, ../sass/main.scss */
  .js .nav-collapse.closed {
    max-height: none;
  }

  /* line 372, ../sass/main.scss */
  .nav-toggle {
    display: none;
  }

  /* line 377, ../sass/main.scss */
  .nav-collapse ul {
    position: relative;
    white-space: nowrap;
  }

  /* line 383, ../sass/main.scss */
  .nav-collapse li {
    display: inline-block;
  }

  /* line 387, ../sass/main.scss */
  .resgridrow {
    white-space: nowrap;
  }

  /* line 391, ../sass/main.scss */
  .ordersummary {
    white-space: nowrap;
    margin-right: 10px;
  }
}
@media screen and (max-width: 947px) {
  /* line 398, ../sass/main.scss */
  body.centered {
    margin: 0 2%;
  }
}
@media screen and (max-width: 639px) {
  /* line 404, ../sass/main.scss */
  span.cooptitle {
    font-size: 14px;
  }

  /* line 408, ../sass/main.scss */
  button {
    font-size: 18px;
  }

  /* line 412, ../sass/main.scss */
  label {
    font-size: 16px;
  }

  /* line 416, ../sass/main.scss */
  input {
    font-size: 16px;
  }

  /* line 420, ../sass/main.scss */
  table.entrytable td.paddable {
    padding: 12px 0px;
  }

  /* line 425, ../sass/main.scss */
  .dataentry {
    font-size: 12px;
    width: 100px;
    background-color: #FFFFFF;
  }

  /* line 431, ../sass/main.scss */
  .dateentry {
    font-size: 12px;
    width: 80px;
    background-color: #FFFFFF;
  }

  /* line 437, ../sass/main.scss */
  .dataentrysmall {
    font-size: 12px;
    width: 60px;
    background-color: #FFFFFF;
  }

  /* line 443, ../sass/main.scss */
  .requireddata {
    font-size: 12px;
    width: 100px;
    border: 1px solid #990033;
    background-color: #FFFFFF;
  }

  /* line 450, ../sass/main.scss */
  .requireddate {
    font-size: 12px;
    width: 80px;
    border: 1px solid #990033;
    background-color: #FFFFFF;
  }

  /* line 457, ../sass/main.scss */
  .requiredselect {
    font-size: 12px;
    width: 103px;
    background-color: #FFFFFF;
    border: 1px solid #990033;
    color: #000000;
  }

  /* line 465, ../sass/main.scss */
  .requiredtime {
    font-size: 12px;
    width: 45px;
    border: 1px solid #990033;
    background-color: #FFFFFF;
  }

  /* line 472, ../sass/main.scss */
  .selectentry {
    font-size: 12px;
    width: 103px;
    background-color: #FFFFFF;
    border: 1px solid #A8A8A8;
    color: #000000;
  }

  /* line 481, ../sass/main.scss */
  .nav-collapse ul {
    display: block;
    float: left;
    /* LTR */
  }

  /* line 485, ../sass/main.scss */
  .nav-collapse li {
    width: 100%;
    float: left;
    /* LTR */
    display: block;
  }

  /* line 491, ../sass/main.scss */
  .nav-collapse li span {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    padding: 0px;
  }

  /* line 501, ../sass/main.scss */
  .nav-collapse {
    float: left;
    /* LTR */
  }

  /* line 505, ../sass/main.scss */
  .nav-collapse a {
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    float: left;
    /* LTR */
  }

  /* line 515, ../sass/main.scss */
  .mobilemenu {
    float: left;
    /* LTR */
    padding: 26px 10px;
    border: 0;
    outline: none;
  }

  /* line 522, ../sass/main.scss */
  .mobilemenu img {
    border: 0;
  }

  /* line 527, ../sass/main.scss */
  .mobilehide {
    display: none;
  }

  /* line 531, ../sass/main.scss */
  .mobiledisplay {
    display: block;
  }

  /* line 535, ../sass/main.scss */
  .orderbox {
    width: 80%;
  }

  /* line 540, ../sass/main.scss */
  .resgridrow {
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
  }
}
/* line 551, ../sass/main.scss */
body.product {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 561, ../sass/main.scss */
p.brochure {
  font-family: Loma, Arial, "Open Sans", sans-serif;
  font-size: 16px;
}

/* line 567, ../sass/main.scss */
span.btnrange {
  font-size: 1px;
  padding-left: 5px;
  /* LTR */
  padding-right: 10px;
  /* LTR */
}

/* line 573, ../sass/main.scss */
span.bulletintitle {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

/* line 579, ../sass/main.scss */
span.coopname {
  color: #FF3300;
  font-size: 18px;
  font-weight: bold;
}

/* line 585, ../sass/main.scss */
span.cooptitle {
  color: #FF3300;
  font-weight: bold;
}

/* line 591, ../sass/main.scss */
span.pagename {
  font-size: 16px;
  font-weight: bold;
}

/* line 596, ../sass/main.scss */
td {
  vertical-align: top;
}

/* line 600, ../sass/main.scss */
textarea {
  resize: vertical;
}

/* line 604, ../sass/main.scss */
th {
  vertical-align: top;
  text-align: left;
  /* LTR */
}

/* line 610, ../sass/main.scss */
.alarmingdata {
  color: red;
}

/* line 614, ../sass/main.scss */
.arrivedorder {
  color: #996666;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  border-color: #996666;
}

/* line 622, ../sass/main.scss */
.bolddata {
  font-size: 14px;
  font-weight: bold;
}

/* line 627, ../sass/main.scss */
.bltpoint {
  font-size: 1px;
  vertical-align: middle;
}

/* line 632, ../sass/main.scss */
.blttext {
  font-size: 16px;
  font-weight: bold;
}

/* line 637, ../sass/main.scss */
.capacitypercent {
  color: #999999;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 30px;
  font-family: Ubuntu Condensed, Liberation Serif,  Serif;
}

/* line 646, ../sass/main.scss */
.capacitypercentcnt {
  width: 100%;
}

/* line 650, ../sass/main.scss */
.changedrow {
  background-color: #9999FF;
}

/* line 654, ../sass/main.scss */
.columntitle {
  font-weight: bold;
  width: 120px;
}

/* line 659, ../sass/main.scss */
.columntitleextralong {
  font-weight: bold;
  width: 250px;
}

/* line 664, ../sass/main.scss */
.columntitlelong {
  font-weight: bold;
  width: 180px;
}

/* line 669, ../sass/main.scss */
.columntitlenowidth {
  font-weight: bold;
}

/* line 674, ../sass/main.scss */
.columntitleshort {
  font-weight: bold;
  width: 75px;
}

/* line 679, ../sass/main.scss */
.columntitletiny {
  font-weight: bold;
  width: 55px;
}

/* line 685, ../sass/main.scss */
.columndata {
  width: 120px;
}

/* line 689, ../sass/main.scss */
.columndataextralong {
  width: 250px;
}

/* line 693, ../sass/main.scss */
.columndatalong {
  width: 180px;
}

/* line 697, ../sass/main.scss */
.columndatashort {
  width: 75px;
}

/* line 701, ../sass/main.scss */
.columndatatiny {
  width: 55px;
}

/* line 706, ../sass/main.scss */
.closedorder {
  color: #999999;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  border-color: #999999;
}

/* line 714, ../sass/main.scss */
.coordlangtitle {
  text-align: center;
}

/* line 718, ../sass/main.scss */
.headbig {
  font-size: 24px;
  font-weight: bold;
}

/* line 723, ../sass/main.scss */
.headdata {
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
}

/* line 729, ../sass/main.scss */
.headlabel {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 738, ../sass/main.scss */
.headmaindata {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

/* line 744, ../sass/main.scss */
.headmainlabel {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}

/* line 750, ../sass/main.scss */
.helpspan {
  width: 200px;
}

/* line 754, ../sass/main.scss */
.helpspansmall {
  width: 150px;
}

/* line 758, ../sass/main.scss */
.link {
  cursor: pointer;
}

/* line 762, ../sass/main.scss */
.listareatitle {
  color: #999999;
  text-align: center;
  font-weight: normal;
  vertical-align: middle;
}

/* line 769, ../sass/main.scss */
.mailinglist {
  font-size: 12px;
  width: 100%;
  height: 300px;
  background-color: #FFFFFF;
}

/* line 776, ../sass/main.scss */
.normalcolor {
  color: #000000;
  font-weight: normal;
}

/* line 781, ../sass/main.scss */
.nowrapping {
  white-space: nowrap;
}

/* line 785, ../sass/main.scss */
.numericcolumn {
  text-align: right;
}

/* line 789, ../sass/main.scss */
.openorder {
  color: #336633;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  border-color: #336633;
}

/* line 797, ../sass/main.scss */
.oppositealign {
  text-align: right;
  /* LTR */
}

/* line 801, ../sass/main.scss */
.ordercnt {
  width: 180px;
}

/* line 805, ../sass/main.scss */
.orderitemcentry {
  font-size: 12px;
  width: 170px;
  background-color: #FFFFFF;
}

/* line 811, ../sass/main.scss */
.orderiteminvalidrow {
  background-color: #FF6666;
}

/* line 815, ../sass/main.scss */
.orderitemcancelledrow {
  background-color: #999999;
}

/* line 819, ../sass/main.scss */
.orderitemqentry {
  font-size: 12px;
  width: 30px;
  background-color: #FFFFFF;
}

/* line 825, ../sass/main.scss */
.popularlink {
  font-weight: bold;
}

/* line 829, ../sass/main.scss */
.regularalign {
  text-align: left;
  /* LTR */
}

/* line 833, ../sass/main.scss */
.required {
  font-weight: bold;
}

/* line 838, ../sass/main.scss */
.tabtitleroot {
  font-weight: bold;
}

/* line 842, ../sass/main.scss */
.tabtitle {
  white-space: nowrap;
}

/* line 846, ../sass/main.scss */
.tabtitlelast {
  white-space: nowrap;
  width: 100%;
}

/* line 851, ../sass/main.scss */
.timeentry {
  font-size: 12px;
  width: 65px;
  background-color: #FFFFFF;
}

/* line 858, ../sass/main.scss */
div.message {
  background-position: 8px 8px;
  /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
  margin-top: 6px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 6px;
  padding: 10px 10px 10px 50px;
  /* LTR */
  box-sizing: border-box;
}

/* line 870, ../sass/main.scss */
div.error {
  color: #8c2e0b;
  border-color: #ed541d;
  background-image: url(../img/message-24-error.png);
  background-color: #fef5f1;
}

/* line 877, ../sass/main.scss */
div.warning {
  color: #840;
  background-image: url(../img/message-24-warning.png);
  border-color: #ed5;
  background-color: #fffce5;
}

/* line 884, ../sass/main.scss */
div.ok {
  color: #234600;
  background-image: url(../img/message-24-ok.png);
  border-color: #be7;
  background-color: #f8fff0;
}

/* line 891, ../sass/main.scss */
div.message ul {
  margin: 0 0 0 1em;
  /* LTR */
  padding: 0;
}

/* line 895, ../sass/main.scss */
div.message ul li {
  list-style-image: none;
}

/* line 898, ../sass/main.scss */
div.sepline {
  height: 1px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #668696;
}

/* line 907, ../sass/main.scss */
.usermenulabel {
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 914, ../sass/main.scss */
.usermenulink {
  cursor: pointer;
}

/* line 919, ../sass/main.scss */
.titleline {
  padding: 10px 50px;
  width: 100%;
  font-weight: bold;
}

/* line 926, ../sass/main.scss */
.logoimg {
  border-width: 0;
}

/* line 932, ../sass/main.scss */
.centerregion {
  margin-left: auto;
  margin-right: auto;
}

/* line 937, ../sass/main.scss */
.ordersummary {
  border: 1px solid #000;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}

/* line 948, ../sass/main.scss */
.opensum {
  background-color: #D1F6CC;
}

/* line 953, ../sass/main.scss */
.closedsum {
  background-color: #CCCCCC;
}

/* line 957, ../sass/main.scss */
.tabarea {
  margin-bottom: 10px;
}

/* line 961, ../sass/main.scss */
.tabrow {
  list-style: none;
  padding: 0;
  line-height: 24px;
  position: relative;
  margin: 0;
  white-space: nowrap;
}

/* line 970, ../sass/main.scss */
.subtabrow {
  margin-top: 1px;
}

/* line 973, ../sass/main.scss */
.subtabrow:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #AAA;
  z-index: 1;
}

/* line 982, ../sass/main.scss */
.tabrow li {
  position: relative;
  z-index: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2px;
  /* LTR */
  margin-left: 0px;
  /* LTR */
  padding: 0 5px;
  border: 1px solid #AAA;
  background-color: #D8D8D8;
  display: inline-block;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* line 997, ../sass/main.scss */
.tabrow li.selected {
  background-color: #FFF;
  color: #000;
  z-index: 2;
}

/* line 1002, ../sass/main.scss */
.subtabrow li.selected {
  border-bottom-color: #FFF;
}

/* line 1007, ../sass/main.scss */
select#selProductsView {
  margin-top: 6px;
  margin-bottom: 2px;
  vertical-align: middle;
}

/* line 1013, ../sass/main.scss */
a.LinkButton {
  text-decoration: none;
  padding: 4px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-sizing: border-box;
  background-color: #FFF;
  border: 1px solid #FFF;
  color: #359A27;
}

@-moz-document url-prefix() {
  /* line 1025, ../sass/main.scss */
  a.LinkButton {
    border-radius: 15px;
  }
}

/* line 1031, ../sass/main.scss */
a.LinkButton:visited {
  color: #359A27;
}

/* line 1036, ../sass/main.scss */
a.LinkButton:link {
  color: #359A27;
}

/* line 1041, ../sass/main.scss */
a.LinkButton:active {
  color: #359A27;
}

/* line 1046, ../sass/main.scss */
a.LinkButton:hover {
  color: #000;
  background-color: #9ECE98;
  border: 1px solid #72B469;
}

/* line 1053, ../sass/main.scss */
a.HistoryButton {
  color: #475744;
}

/* line 1058, ../sass/main.scss */
a.HistoryButton:visited {
  color: #475744;
}

/* line 1063, ../sass/main.scss */
a.HistoryButton:link {
  color: #475744;
}

/* line 1068, ../sass/main.scss */
a.HistoryButton:active {
  color: #475744;
}

/* line 1072, ../sass/main.scss */
a.HistoryButton:hover {
  background-color: #A6A6A5;
  border-color: #414141;
  color: #000;
}

/* line 1078, ../sass/main.scss */
td a.LinkButton {
  padding-bottom: 1px;
  padding-top: 1px;
  line-height: 28px;
}

/* line 1085, ../sass/main.scss */
.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1091, ../sass/main.scss */
.nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50px;
  height: 55px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
}

/* line 1104, ../sass/main.scss */
#tglUser {
  background: #336633 url("../img/hamburger.gif") no-repeat 50% 33%;
}

/* line 1108, ../sass/main.scss */
#tglUser:hover {
  background: #336633 url("../img/hamburger.gif") no-repeat 50% 33%;
}

/* line 1112, ../sass/main.scss */
#tglCoord {
  background: white url("../img/tools-wizard.png") no-repeat 50% 33%;
  padding: 18px 0px;
}

/* line 1117, ../sass/main.scss */
#tglCoord:hover {
  background: white url("../img/tools-wizard.png") no-repeat 50% 33%;
}

/* line 1121, ../sass/main.scss */
.nav-collapse.opened {
  max-height: 9999px;
}

/* line 1125, ../sass/main.scss */
.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 1136, ../sass/main.scss */
.coordmenulabel {
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 1143, ../sass/main.scss */
.resgridtitle {
  font-weight: bold;
}

/* line 1148, ../sass/main.scss */
.resgridcell {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 1155, ../sass/main.scss */
.resgridfirstcell {
  display: inline-block;
  vertical-align: top;
  padding-left: 0;
  /* RTL */
  padding-right: 10px;
  /* RTL */
}

/* line 1164, ../sass/main.scss */
.resgridfirstcell label,
.resgridcell label {
  display: inline-block;
}

/* line 1169, ../sass/main.scss */
.resgriddatatiny {
  width: 35px;
  white-space: normal;
}

/* line 1174, ../sass/main.scss */
.resgriddatashort {
  width: 50px;
  white-space: normal;
}

/* line 1179, ../sass/main.scss */
.resgriddata {
  width: 80px;
  white-space: normal;
}

/* line 1184, ../sass/main.scss */
.resgriddatahlong {
  width: 120px;
  white-space: normal;
}

/* line 1189, ../sass/main.scss */
.resgriddatalong {
  width: 180px;
  white-space: normal;
}

/* line 1194, ../sass/main.scss */
.inlineblock {
  display: inline-block;
}

/* line 1198, ../sass/main.scss */
.spacer4 {
  font-size: 4px;
}

/* specfic forms */
/* line 1204, ../sass/main.scss */
form#homecoop_member-form .form-item-select-action {
  display: inline;
}
